{% extends "base.html" %}

{% block title %}Certifications - Portfolio{% endblock %}

{% block content %}
    <h1>My Certifications 📜</h1>
    <ul class="certification-list">
        <li>🎖 Central Hindi Directorate - Certificate, Diploma & Advanced Diploma (Top 10 Rank)</li>
        <li>🏆 Hindi Prachar Sabha - Praveen Uttaradh Certification</li>
        <li>📜 9 Sanskrit Certifications from Samskrita Bharati & Bharatiya Vidya Bhavan</li>
        <li>🎹 Trinity College London - Piano (Six Grades)</li>
    </ul>
{% endblock %}
