{% extends "base.html" %}

{% block title %}Experience - Portfolio{% endblock %}

{% block content %}
    <h1>My Work Experience 💼</h1>
    <ul class="experience-list">
        <li>👨‍💻 **Software Engineer - BNY Pershing** (July 2024 - Present)</li>
        <ul>
            <li>🚀 Transitioning to Mobile Development (Android, iOS, Ionic)</li>
            <li>⚡ Worked on Kafka, Spring Boot, Angular, PostgreSQL, Shell Scripting</li>
        </ul>
        <li>🎓 **Winter Internship - BNY Pershing** (Jan 2024 - June 2024)</li>
        <ul>
            <li>🔍 Database Team (Oracle, SQL, Performance Optimization)</li>
        </ul>
        <li>☀️ **Summer Internship - BNY Pershing**</li>
    </ul>
{% endblock %}
